# dependencies
node_modules/
.pnpm-store/

# build
.next/
dist/
out/
build/
*.tsbuildinfo
next-env.d.ts

# env
.env*
!.env.example

# turbo
.turbo/

# misc
.DS_Store
*.pem
Thumbs.db

# editors
.vscode/
!.vscode/settings.json
.idea/

# debug
npm-debug.log*
pnpm-debug.log*

# testing
coverage/

# vercel
.vercel
